body{
    padding: 0;
    margin: 0;
}

.fluxAll, .fluxFilter{
    display: none;
}

.fluxAll.active, .fluxFilter.active{
    display: block;
}
.flux li form, .users li form {
    display: flex;
    align-items: center;
}
.flux li form p, .users li form p {
    margin-right: 20px;
}