{% extends 'base.html.twig' %}

{% block title %}Hello PostController!{% endblock %}

{% block body %}

<ul class="fluxAll active">
    {% for tweet in tweetsAll %}
        <li>{{ tweet.name }} : {{ tweet.date }}</li>
    {% endfor %}
</ul>

<ul class="fluxFilter">
    {% for tweet in tweetsFilter %}
        <li>{{ tweet.name }} : {{ tweet.date }}</li>
    {% endfor %}
</ul>

<button>Filter</button>
{% endblock %}
